.addAgency-main-con {
  width: 100%;
  padding: 20px 5%;
  display: flex;
}

.addAgency-title {
  font-size: 22px;
  font-size: 30px;
  font-weight: 600;
}

.addAgency-input-con-two {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.addAgency-input {
  width: 45%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.addAgency-input-single {
  width: 100%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.addAgency-input-con {
  display: flex;
  justify-content: space-between;
}

.addAgency-input-con-left {
    width: 45%;
}

.addAgency-input-con-right {
    width: 45%;
}

.addAgency-input input {
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.addAgency-input-single input {
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.addAgency-input-grp {
  width: 50%;
  margin-bottom: 0px;
}

.addAgency-input-grp input {
  height: 40px;
  border-radius: 5px;
  padding-left: 10px;
}

.addAgency-line {
  margin-bottom: 10px;
}

.addAgency-footer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.validation-message {
  margin-top: -20px;
  color: red;
  font-size: 13px;
}
 