.gcc-con {
  width: 100%;
  overflow-x: hidden;
  padding: 40px 100px;
  color: black;
  background-color: white;
  
}

.gcc-select {
  margin-top: 10px;
}

.gcc-select-drop {
  margin: 0;
  width: 78%;
}

.gcc-select-btn {
  height: 40px;
  width: 20%;
  margin-left: 2%;
  margin-bottom: 15px;
}
