@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.rs-col,
.rs-row {
  padding: 0;
  margin: 0;
}

.rs-input,
.rs-picker {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 40px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.rs-picker-toggle {
  height: 40px;
  border-style: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.rs-nav-item {
  justify-content: center;
}

.rs-modal-wrapper {
  width: 100vw !important;
}

.rs-radio-group-picker .rs-radio-checked .rs-radio-checker > label {
  border-color: #000 !important;
  color: #000 !important;
}

.svg-inline--fa {
  cursor: pointer;
}

.main-title {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

#dateOfBirth,
#chequeDate,
#issuedDate,
#dateRangePicker,
.rs-search-box-input {
  margin-bottom: 0;
  margin-top: 0;
  height: 36.5px;
}

